@keyframes spinning-dom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  animation-name: spinning-dom;
  animation-duration: 1800s;
  animation-iteration-count: infinite;
}
